* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background: url("../src/assets/img/background.png");
}

.link-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.link-name:hover {
  cursor: pointer;
  color: rgb(230, 217, 39);
}

.loader-personaje {
  color: aqua;
}
